{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}
    Log In
{% endblock page_title %}

{% block content %}
    <div class="barber_section layout_padding">
    <div class="container">
        <div class="d-flex justify-content-center" dir="rtl">
            <div class="col-xl-6 col-lg-5 col-md-6 col-sm-6 col-xs-7 bg-white m-4 m-sm-6 border rounded px-5 pt-5 pb-4 shadow">
                <form method="post">
                    {% csrf_token %}
                    <h3 class="text-center subscribe_text" style="color: black; font-family: MyCustomFont">ورود</h3>
                    {{ form|crispy }}
                    <div class="d-flex justify-content-between align-items-center">
{#                        <div class="mt-2">#}
{#                            <a class="text-decoration-none" href="{% url 'password_reset' %}">Forget password</a>#}
{#                        </div>#}
                    </div>
                    <button style="background-color: #242B5E; font-family: MyCustomFont; border-radius: 5px" type="submit" class="btn btn-success mt-3 w-100">ورود</button>

                    <div class="line-with-middle-sep text-center">
                                  <span style="font-family: MyCustomFont">
                                    یا
                                  </span>
                    </div>
                    <a style="background-color: #fb246a; font-family: MyCustomFont; border-radius: 5px" href="{% url 'signup' %}" class="btn btn-primary mt-2 mb-3 w-100">ثبت نام</a>
                </form>
            </div>

        </div>
    </div>
    </div>

{% endblock content %}