{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="fa">
    <title>Job Linker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/price_rangs.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_me.css' %}">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">


    <style>
        * {
            font-family: MyCustomFont;
        }
    </style>
</head>

<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'img/logo/logo.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header dir="rtl">
    <!-- Header Start -->
    <div class="header-area header-transparrent">
        <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-2">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="{% url 'urgent_post_list' %}"><img src="{% static 'img/logo/logo.png' %}"
                                                                        alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a style="font-family: MyCustomFont" href="{% url 'urgent_post_list' %}">خانه</a>
                                        </li>
                                        <li><a style="font-family: MyCustomFont" href="{% url 'urgent_post_list' %}">جستجوی
                                            مشاغل </a></li>
                                        <li><a style="font-family: MyCustomFont" href="{% url 'favorite_list' %}">نشان
                                            شده
                                            ها</a></li>
                                        <li><a href="#" style="font-family: MyCustomFont">حساب کاربری</a>
                                            <ul class="submenu">
                                                {% if user.is_authenticated %}
                                                    <li><a class="text-center" style="font-family: MyCustomFont"
                                                           href="#">{{ user.username }}</a></li>
                                                    <li><a class="text-center" style="font-family: MyCustomFont"
                                                           href="{% url 'logout' %}">خروج</a></li>
                                                {% else %}
                                                    <li><a class="text-center" style="font-family: MyCustomFont"
                                                           href="{% url 'signup' %}">ثبت نام</a></li>
                                                    <li><a class="text-center" style="font-family: MyCustomFont"
                                                           href="{% url 'login' %}">ورود</a></li>
                                                {% endif %}
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    {% block header %}

    {% endblock header %}
    {% block new_ads_urgent %}
    {% endblock new_ads_urgent %}

    {% block new_ads_latest %}
    {% endblock new_ads_latest %}

    <!-- Featured_job_start -->
    <section class="featured-job-area feature-padding">
        <div class="container">
            <!-- Section Tittle -->
            {% block new_ads %}
            {% endblock new_ads %}
            <!-- single-job-content -->
            {% block content %}
            {% endblock content %}

            <!-- single-job-content -->
        </div>
    </section>
    <!-- Featured_job_end -->


</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">

                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <div class="footer-copy-right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | This template is made with <i class="fa fa-heart"
                                                                                    aria-hidden="true"></i> by <a
                                        href="#">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

<!-- JS here -->

<!-- All JS Custom Plugins Link Here here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/price_rangs.js' %}"></script>

<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{#<script>#}
{#    function submitForm() {#}
{#        document.forms['form_filter'].submit();#}
{#    }#}
{#</script>#}
<script>

    const cities = [
        "تهران", "مشهد", "اصفهان", "کرج", "شیراز", "قم", "ساری", "تبریز", "تبریز",
        "اراک", "اهواز", "یزد", "قزوین", "کرمان", "هرمزگان", "بوشهر", "گلستان", "همدان",
        "ارومیه", "زنجان", "زاهدان", "سمنان", "کرمانشاه", "اردبیل", "بجنورد", "سنندج",
        "کردستان", "خرم آباد", "کهکیلویه و بویراحمد", "بیرجند", "ایلام",
    ];

    const citySearchInput = document.getElementById("city-search");
    const cityList = document.getElementById("city-list");
    const selectedLocationInput = document.getElementById("selected-location");

    citySearchInput.addEventListener("input", function () {
        const searchText = this.value.trim();


        cityList.innerHTML = "";

        if (searchText.length > 0) {
            const filteredCities = cities.filter(city => city.includes(searchText));
            filteredCities.forEach(city => {
                const li = document.createElement("li");
                li.textContent = city;
                li.classList.add("option");

                li.addEventListener("click", function () {
                    citySearchInput.value = city;
                    selectedLocationInput.value = city;
                    cityList.innerHTML = "";
                });

                cityList.appendChild(li);
            });
        }
    });

</script>
</body>
</html>
