{% extends '_base.html' %}
{% load static %}

{% block title %}
    نشان شده ها
{% endblock title %}

{% block new_ads %}
    <div class="row">
        <div class="col-lg-12">
            <div class="section-tittle text-center">
                <h2 style="font-family: MyCustomFont;font-size: x-large; letter-spacing: -1px">جدید ترین آگهی ها</h2>
            </div>
        </div>
    </div>
{% endblock new_ads %}
{% block header %}
    <!-- slider Area Start-->
    <div class="slider-area " dir="rtl">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center"
                 data-background="{% static 'img/hero/h1_hero.jpg' %}">
                <div class="container">
                    <div class="row" style="justify-content: center;">
                        <div class="col-xl-6 col-lg-9 col-md-10">
                            <div class="hero__caption text-center" style="justify-content: center;">
                                {#                                    <h1>Find the most exciting startup jobs</h1>#}
                                <h4 style="font-family: MyCustomFont;line-height: normal" class="text-center">همه ی آگهی
                                    های
                                    سایت های کاریابی را یکجا ببینید</h4>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <div class="row" style="justify-content: left;">
                        <div class="col-xl-8" style="background-color: white; border-radius: 15px">
                            <!-- form -->
                            <form action="{% url 'search' %}" class="search-box" name="form_filter" method="POST">
                                {% csrf_token %}
                                <div class="input-form">
                                    <input style="font-family: MyCustomFont; border-radius: 15px" type="text"
                                           placeholder="عنوان شغلی / مهارت یا ..." name="search_keyword">
                                </div>
                                <div class="select-form text-center" style="font-family: MyCustomFont;">
                                    <select name="location" id="select2-location" class="custom-select">
                                        <option value="" class="selected-option text-center">همه شهر ها</option>
                                        <option type="hidden"
                                                value="تهران"
                                                class="option"
                                                {% if selected_location == "تهران" %}selected{% endif %}>تهران
                                        </option>
                                        <option
                                                value="مشهد"
                                                class="option"
                                                {% if selected_location == "مشهد" %}selected{% endif %}>مشهد
                                        </option>
                                        <option
                                                value="اصفهان"
                                                class="option"
                                                {% if selected_location == "اصفهان" %}selected{% endif %}>اصفهان
                                        </option>
                                        <option
                                                value="کرج"
                                                class="option"
                                                {% if selected_location == "کرج" %}selected{% endif %}>کرج
                                        </option>
                                        <option
                                                value="شیراز"
                                                class="option"
                                                {% if selected_location == "شیراز" %}selected{% endif %}>شیراز
                                        </option>
                                        <option
                                                value="قم"
                                                class="option"
                                                {% if selected_location == "قم" %}selected{% endif %}>قم
                                        </option>
                                        <option
                                                value="ساری"
                                                class="option"
                                                {% if selected_location == "ساری" %}selected{% endif %}>ساری
                                        </option>
                                        <option
                                                value="تبریز"
                                                class="option"
                                                {% if selected_location == "تبریز" %}selected{% endif %}>تبریز
                                        </option>
                                        <option
                                                value="رشت"
                                                class="option"
                                                {% if selected_location == "رشت" %}selected{% endif %}>رشت
                                        </option>
                                        <option
                                                value="اراک"
                                                class="option"
                                                {% if selected_location == "اراک" %}selected{% endif %}>اراک
                                        </option>
                                        <option
                                                value="اهواز"
                                                class="option"
                                                {% if selected_location == "اهواز" %}selected{% endif %}>اهواز
                                        </option>
                                        <option
                                                value="یزد"
                                                class="option"
                                                {% if selected_location == "یزد" %}selected{% endif %}>یزد
                                        </option>
                                        <option
                                                value="قزوین"
                                                class="option"
                                                {% if selected_location == "قزوین" %}selected{% endif %}>قزوین
                                        </option>
                                        <option
                                                value="کرمان"
                                                class="option"
                                                {% if selected_location == "کرمان" %}selected{% endif %}>کرمان
                                        </option>
                                        <option
                                                value="هرمزگان"
                                                class="option"
                                                {% if selected_location == "هرمزگان" %}selected{% endif %}>هرمزگان
                                        </option>
                                        <option
                                                value="بوشهر"
                                                class="option"
                                                {% if selected_location == "بوشهر" %}selected{% endif %}>بوشهر
                                        </option>
                                        <option
                                                value="گلستان"
                                                class="option"
                                                {% if selected_location == "گلستان" %}selected{% endif %}>گلستان
                                        </option>
                                        <option
                                                value="همدان"
                                                class="option"
                                                {% if selected_location == "همدان" %}selected{% endif %}>همدان
                                        </option>
                                        <option
                                                value="ارومیه"
                                                class="option"
                                                {% if selected_location == "ارومیه" %}selected{% endif %}>ارومیه
                                        </option>
                                        <option
                                                value="زنجان"
                                                class="option"
                                                {% if selected_location == "زنجان" %}selected{% endif %}>زنجان
                                        </option>
                                        <option
                                                value="زاهدان"
                                                class="option"
                                                {% if selected_location == "زاهدان" %}selected{% endif %}>زاهدان
                                        </option>
                                        <option
                                                value="سمنان"
                                                class="option"
                                                {% if selected_location == "سمنان" %}selected{% endif %}>سمنان
                                        </option>
                                        <option
                                                value="کرمانشاه"
                                                class="option"
                                                {% if selected_location == "کرمانشاه" %}selected{% endif %}>کرمانشاه
                                        </option>
                                        <option
                                                value="اردبیل"
                                                class="option"
                                                {% if selected_location == "اردبیل" %}selected{% endif %}>اردبیل
                                        </option>
                                        <option
                                                value="بجنورد"
                                                class="option"
                                                {% if selected_location == "بجنورد" %}selected{% endif %}>بجنورد
                                        </option>
                                        <option
                                                value="سنندج"
                                                class="option"
                                                {% if selected_location == "سنندج" %}selected{% endif %}>سنندج
                                        </option>
                                        <option
                                                value="کردستان"
                                                class="option"
                                                {% if selected_location == "کردستان" %}selected{% endif %}>کردستان
                                        </option>
                                        <option
                                                value="خرم آباد"
                                                class="option"
                                                {% if selected_location == "خرم آباد" %}selected{% endif %}>خرم آباد
                                        </option>
                                        <option
                                                value="کهکیلویه و بویراحمد"
                                                class="option"
                                                {% if selected_location == "کهکیلویه و بویراحمد" %}selected{% endif %}>
                                            کهکیلویه و بویراحمد
                                        </option>
                                        <option
                                                value="بیرجند"
                                                class="option"
                                                {% if selected_location == "بیرجند" %}selected{% endif %}>بیرجند
                                        </option>
                                        <option
                                                value="ایلام"
                                                class="option"
                                                {% if selected_location == "ایلام" %}selected{% endif %}>ایلام
                                        </option>


                                    </select>
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            // مخفی کردن تمام گزینه‌ها به جز گزینه پیشفرض
                                            $(".option").not(".selected-option").hide();

                                            // تغییر انتخاب گزینه و نمایش مربوط به آن
                                            $("select").change(function () {
                                                var selectedLocation = $(this).val();
                                                $(".option").hide(); // مخفی کردن تمام گزینه‌ها
                                                $(".option[value='" + selectedLocation + "']").show(); // نمایش گزینه انتخاب شده
                                            });
                                        });
                                    </script>

                                </div>
                                <div class="search-form">
                                    <a href="#" style="font-family: MyCustomFont; border-radius: 15px"
                                       class="button-like-link"
                                       onclick="submitForm(); return false;">جستجو</a>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        {% if favorites %}
            {% for favorite in favorites %}

                <div class="single-job-items mb-30" style="margin-bottom: 30px;font-family: MyCustomFont">
                    <div class="items-link f-left">
                        <a href="{% url 'post_detail' favorite.post.id %}">مشاهده آگهی</a>
                        <span style="font-size: small; text-align: center" dir="rtl">
                    {% if favorite.post.date_modified == "(امروز)" %}
                        امروز منتشر شده
                    {% elif favorite.post.date_modified == 0 %}
                        امروز منتشر شده

                    {% elif favorite.post.date_modified == -1 %}
                        <p style="font-family: MyCustomFont;background-color: #f65151;border-radius: 5px;color: white;">فوری</p>
                    {% else %}
                        {{ favorite.post.date_modified }}  روز پیش منتشر شده
                    {% endif %}
                </span>
                    </div>

                    <div class="job-items" style="display: flex; align-items: center;">
                        <div class="job-tittle" style="flex: 1;">
                            <a href="{% url 'post_detail' favorite.post.id %}">
                                <h4 dir="rtl"
                                    style="font-size: large; font-family: MyCustomFont; margin-bottom: 10px;text-align: right">{{ favorite.post.title }}</h4>
                            </a>
                            <ul style="text-align: right; margin-right: 0;">
                                <li>
                                    {% if favorite.post.website == "jobinja" %}
                                        جابینجا
                                    {% elif favorite.post.website == "job_vision" %}
                                        جاب ویژن
                                    {% endif %}
                                </li>
                                <li>{{ favorite.post.company_name }}</li>
                                <li>{{ favorite.post.location }} <i class="fas fa-map-marker-alt"></i></li>
                            </ul>
                        </div>
                        <div class="company-img" style="margin-left: 20px;">
                            <a href="{% url 'post_detail' favorite.post.id %}">
                                {% if favorite.post.website == "jobinja" %}
                                    <img src="{% static 'img/icon/Jobinja-Logo.png' %}" alt="">
                                {% elif favorite.post.website == "job_vision" %}
                                    <img src="{% static 'img/icon/jobvision.png' %}" alt="">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}
            <div class="navbar subscribe_text">
                <nav aria-label="Page navigation example" style="margin: auto">
                    <ul class="pagination justify-content-end">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">First</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                            {% else %}
                                {% if num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num == page_obj.paginator.page_range.1 or num == page_obj.paginator.page_range.1 %}
                                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Last</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        {% else %}
            <div class="alert alert-primary text-center" role="alert" dir="rtl">
            <span style="font-family: MyCustomFont" class="text-center" dir="rtl">
                شما هنوز آگهی را نشان نکرده اید.
            </span>
            </div>

        {% endif %}
    {% else %}
        <div class="alert alert-primary text-center" role="alert" dir="rtl">
            <span style="font-family: MyCustomFont" class="text-center" dir="rtl">
                شما برای استفاده از این بخش باید وارد حساب کاربری خود شوید.
            </span>
        </div>

    {% endif %}


{% endblock content %}
