{% extends '_base.html' %}

{% block title %}
    نشان شده ها
{% endblock title %}

{% block new_ads %}
    <div class="row">
        <div class="col-lg-12">
            <div class="section-tittle text-center">
                <h2 style="font-family: MyCustomFont;font-size: x-large; letter-spacing: -1px">نشان شده ها</h2>
            </div>
        </div>
    </div>
{% endblock new_ads %}
{% block header %}
    {% include '_search_header.html' %}
{% endblock header %}

{% block content %}
    {% if user.is_authenticated %}
        {% if favorites %}
            {% for favorite in favorites %}
                {% include '_job_card.html' with post=favorite.post %}
            {% endfor %}
        {% else %}
            <div class="alert alert-primary text-center" role="alert" dir="rtl">
            <span style="font-family: MyCustomFont" class="text-center" dir="rtl">
                شما هنوز آگهی را نشان نکرده اید.
            </span>
            </div>

        {% endif %}
    {% else %}
        <div class="alert alert-primary text-center" role="alert" dir="rtl">
            <span style="font-family: MyCustomFont" class="text-center" dir="rtl">
                شما برای استفاده از این بخش باید وارد حساب کاربری خود شوید.
            </span>
        </div>

    {% endif %}


{% endblock content %}
