{% extends '_base.html' %}

{% block title %}
    لیست آگهی ها
{% endblock title %}

{% block new_ads %}
    <div class="row">
        <div class="col-lg-12">
            <div class="section-tittle text-center">
                <h2 style="font-family: MyCustomFont;font-size: x-large; letter-spacing: -1px">جدید ترین آگهی ها</h2>
            </div>
        </div>
    </div>
{% endblock new_ads %}
{% block header %}
    {% include '_search_header.html' %}
{% endblock header %}
{% block content %}
    <ul class="nav nav-tabs" id="myTab" role="tablist"
        style=" display: flex;justify-content: center;font-family: MyCustomFont">
        <li class="nav-item" role="presentation">
            <button {% if 'urgent_selected' in request.session %}style="background-color: #242B5E"{% endif %}
                    class="nav-link"
                    id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home"
                    aria-selected="{% if 'urgent_selected' in request.session %}true{% else %}false{% endif %}">
                <a href="{% url 'urgent_post_list' %}">آگهی‌های فوری</a>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button {% if 'non_urgent_selected' in request.session %}style="background-color: #242B5E"{% endif %}
                    class="nav-link"
                    id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile"
                    aria-selected="{% if 'non_urgent_selected' in request.session %}true{% else %}false{% endif %}">
                <a href="{% url 'non_urgent_post_list' %}">آگهی‌های جدید</a>
            </button>
        </li>
    </ul>


    <!-- Content of urgent ads goes here -->
    {% for post in urgent_ads %}
        {% include '_job_card.html' %}
    {% endfor %}

    <!-- Content of latest ads goes here -->
    {% for post in non_urgent_ads %}
        {% include '_job_card.html' %}
    {% endfor %}

    <div class="navbar subscribe_text">
        <nav aria-label="Page navigation example" style="margin: auto">
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" style="font-family: MyCustomFont;">اولین</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                           style="font-family: MyCustomFont;">قبلی</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" style="font-family: MyCustomFont;">اولین</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" style="font-family: MyCustomFont;">قبلی</a>
                    </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#"
                                                        style="font-family: MyCustomFont;">{{ num }}</a></li>
                    {% else %}
                        {% if num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}"
                                                     style="font-family: MyCustomFont;">{{ num }}</a></li>
                        {% elif num == page_obj.paginator.page_range.1 %}
                            <li class="page-item disabled"><a class="page-link" href="#"
                                                              style="font-family: MyCustomFont;">...</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                           style="font-family: MyCustomFont;">بعدی</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
                           style="font-family: MyCustomFont;">آخرین</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" style="font-family: MyCustomFont;">بعدی</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" style="font-family: MyCustomFont;">آخرین</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock content %}
