{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    جزییات کتاب {{ post.title }}
{% endblock title %}

{% block content %}

    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120" dir="rtl">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"> {% if post.website == "jobinja" %}
                                    <img src="{% static 'img/icon/Jobinja-Logo.png' %}" alt="">
                                {% elif post.website == "job_vision" %}
                                    <img src="{% static 'img/icon/jobvision.png' %}" alt="">
                                {% endif %}</a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <br>
                                    <h4 dir="rtl"
                                        style="font-family: IRANSans;padding-right: 10px">{{ post.title }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50" dir="rtl" style="text-align: right">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4 style="font-family: IRANSans">درباره شغل</h4>
                            </div>
                            <p>{{ post.detail_position|linebreaksbr }}</p>
                        </div>
                        <div class="post-details2  mb-50" dir="rtl" style="text-align: right">
                            <div>
                                <p>
                                    {{ post.description_position|linebreaksbr }}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-5 col-lg-4" style="text-align: right; line-height: 40px" dir="rtl">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4 style="font-family: IRANSans">بررسی اجمالی</h4>
                        </div>


                        <ul style="font-family: IRANSans">
                            <li>منتشر شده:
                                <span>
                            {% if post.date_modified == 0 %}
                                امروز
                            {% elif post.date_modified == -1 %}
                                فوری
                            {% else %}
                                {{ post.date_modified }} روز پیش
                            {% endif %}
                                </span>
                            </li>
                            <li>موقعیت: <span>{{ post.location }}</span></li>
                            <li>سایت: <span>
                            {% if post.website == "jobinja" %}
                                جابینجا
                            {% elif post.website == "job_vision" %}
                                جاب ویژن
                            {% endif %}

                            </span></li>
                            <li> شرکت:
                                <br>
                                <span><br> {{ post.company_name }}</span>
                            </li>
                        </ul>

                        <div class="apply-btn2 text-center" style="padding: 10px">
                            <a href="{{ post.link }}" target="_blank" class="btn"
                               style="font-family: IRANSans;font-size: medium;border-radius: 5px">ارسال رزومه</a>
                        </div>
                        <div class="apply-btn2 text-center" style="padding: 10px">
                            {% if user.is_authenticated %}
                                {% if favorite_post.is_check == True %}
                                    <form method="post" action="{% url 'add_to_favorites' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="check_favorite" id="check_favorite" value="False">
                                        <input type="hidden" name="user" value="{{ user.username }}">
                                        <button name="add_to_favorites" type="submit"
                                                style="font-family: IRANSans; border-radius: 5px; background-color: #242B5E; font-size: small">
                                            حذف از نشان شده ها
                                        </button>
                                    </form>
                                {% else %}
                                    <form method="post" action="{% url 'add_to_favorites' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="check_favorite" id="check_favorite" value="True">
                                        {% if user.is_authenticated %}
                                            <input type="hidden" name="user" value="{{ user.username }}">
                                        {% endif %}

                                        <button name="add_to_favorites" type="submit"
                                                style="font-family: IRANSans; border-radius: 5px; background-color: #242B5E; font-size: small">
                                            نشان کردن
                                        </button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <span style="font-family: IRANSans">
                        برای نشان کردن آگهی باید ابتدا وارد حساب کاربری خود شوید.
                        </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

{% endblock content %}